*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* background */
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    /* textos */
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    /* bordas do input */
    --border-primary: #D1D5DB;
    --border-secondary: #B9C2D0;
}

body{
    background-color: var(--background-primary);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.background-blur{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    position: absolute;
    display: none;
    
}

.mensagem-alerta{
    display: none;
    width: 30%;
    height: 200px;
    border: 2px solid var(--color-brand);
    border-radius: 10px;
    background-color: #FFFFFF;
    position: fixed;
    top: 300px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.fechar-mensagem-alerta{
    background-color: var(--color-brand);
    width: 100px;
    height: 20px;
    color: var(--always-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 5px;
    margin: 10px 0 0 10px;
}

#secao-01{
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#opcao-voltar{
    display: flex;
    width: 140px;
    color: var(--color-brand);
    margin: 0 0 0 140px;
}

#opcao-voltar span{
    font-weight: bolder;
    margin: 0 0 0 10px;
}

#titulo-compras{
    margin: 10px 0 0 140px;
}

#secao-02{
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#novo-item{
    width: 448px;
    height: 44px;
    padding-inline: 5px;
    border-radius: 10px;
    border: 3px solid var(--border-primary);
}

#novo-item:focus{
    border-color: var(--border-secondary);
}

input{
    font-size: 1.2rem;
    padding-inline: 15px;
}

#adicionar-item{
    width: 160px;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Inter';
    background-color: var(--color-brand);
    color: var(--always-white);
}

#secao-03{
    width: 60%;
    height: 150px;
    padding-block: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

.item-informado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 627px;
    height: 100px;
    padding-block: 20px;
    margin: 10px 0 10px 0;
    background-color: var(--background-secondary) ;
}

.centralizar-icone{
    width: 40%;
    margin: 0 10px 0 0px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: end;
}

.item-informado input{
    margin: 0 0 0 10px;
}

.item-informado p {
    margin: 0 0 0 -30px;
    text-align: left;
    width: 250px;
    font-weight: bold;
}

.remover-item{
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    header{
        display: flex;
        align-items: center;
    }
    .mensagem-alerta{
        width: 80%;
    }

    #secao-01{
        width: 100%;
        height: fit-content;
        padding-top: 50px;
        display: flex;
    }

    #opcao-voltar{
        margin: 0;
        margin: -35px 0 0 25px;
        font-size: 1.2rem;
    }

    #titulo-compras{
        margin: 20px 0 0 25px;
        font-size: 0.9rem;
    }

    #secao-02{
        width: 100%;
        height: 225px;
    }

    #input-botaoAdicionar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #novo-item{
        width: 300px;
    }

    #adicionar-item{
        width: 100%;
        height: 48px;
        font-weight: bold;
        margin-top: 10px;
    }

   #secao-03{
        width: 100%;
   }

   .item-informado{
        width: 350px;
        font-size: 1rem;
        font-weight: bold;
        color: var(--content-secondary);
   }

   .item-informado p{
        margin: 0 0 0 30px ;
   }
}
